@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    border-radius: var(--ux-2jubes,2px);
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 3rem;
    color: var(--ux-1leynsm,#000);
    border: 1px solid var(--ux-97h3vl,#d3d3d3);
    width: 36rem;
    height: 37rem;
}

.logo {
    width: 12rem;
    margin-bottom: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.top {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 2rem;
}
.signinhead {
    font-size: 2rem;
    margin-top: -1rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
}

.newto {
    margin-top: -1rem;
}

#inputEmail {
    height: 3.5rem;
    width: 27rem;
    border-radius: 0px;
    border: 1px solid grey;
}

#password {
    margin-top: 1rem;
    height: 3.5rem;
    width: 27rem;
    border-radius: 0px;
    border: 1px solid grey;
}

.checkbox {
    margin-top: 1rem;
}

.signin {
    height: 3.5rem;
    width: 27.7rem;
    border-radius: 0px;
    margin-top: 1rem;
    border: none;
    color: white;
    background-color: #000;
    font-weight: 700;
    font-size: 1.1rem;
}

.low {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 2rem;
}

.orsigninwith {
    margin-top: -1rem;
    margin-left:auto;
    margin-right: auto;

}

.google {
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    margin-bottom: 0.7rem;
    border: 2px solid black;
    padding: 0.4rem;


}

.reset {
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

.loginwith {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(0, 0, 0)
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    overflow: hidden;
    padding: 1rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    overflow: hidden;
    padding: 1rem;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    overflow: hidden;
    padding: 1rem;
  }


/* @media screen and (min-width: ) */