* {
    margin: 0;
    padding: 0;
}
/* top header section */
.top-header {
    /* border: 2px solid rebeccapurple; */
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    width: 98%;
    margin: 0 7px;
}

.top-header img {
    height: 17px;
    background-color: white;
    border-radius: 0%;
    margin-left: 20px;
}

.top-header p {
    position: absolute;
    margin-left: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: bold;
}

.nav1 {
    position: absolute;
    right: 0;
    margin: 0 7px;
    display: flex;
}

.top-header .nav1 li {
    display: inline-block;
    /* border: 1px solid pink; */
    margin: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    cursor: pointer;
}

ul {
    list-style-type: none;
    float: left;
    overflow: hidden;
}

hr {
    width: auto;
    border-style: none;
    border: 0.5px solid rgb(213 225 239);
}

.menu-select {
    display: none;
}

.hamburger {
    margin-top: 5px;
    margin-right: 5px;
    width: auto;
    height: auto;
    border: none;
    position: relative;
    /* border: 1px solid black; */
    height: 3rem;
    margin-left: 5px;
}

.ham {
    position: absolute;
    right: 0;
    margin: auto;
    height: 24px;
    cursor: pointer;
}

.cross {
    position: absolute;
    right: 0;
    margin: auto;
    height: 24px;
    display: none;
    cursor: pointer;
}

.flag {
    position: absolute;
    left: 0;
    height: 30px;
}

.mobile-top-menu-list {
    display: flex;
    justify-content: center;
}

.mobile-top-menu-list ul {
    list-style-type: none;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.mobile-top-menu-list li {
    /* display: block; */
    text-align: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.mobile-top-menu-list li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    /* margin: 16px 0; */
    color: black;
    /* border: 1px solid black; */
    
}

#mobile-menu {
    display: none;
}

.mobile-top-menu-list li a:hover {
    background-color: brown;
    color: white;
}


@media only screen and (max-width: 830px) {
    .top-header img {
        display: block;
    }

    .top-header p {
        display: block;
    }

    .top-header .nav1 li {
        display: none;
    }

    .mobile-top-menu {
        display: block;
    }

    .mobile-top-menu-list li {
        display: block;
    }
}

@media only screen and (min-width: 831px) {
    .mobile-top-menu {
        display: none;
    }

    .mobile-top-menu-list li {
        display: none;
    }

    .ham {
        display: none;
    }

    .cross {
        display: none;
    }

    .flag {
        display: none;
    }
}