{% extends 'base.html' %}

   
{% block body %}
<div class="container my-4 mb-3">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label"
        >Todo Title</label
      >
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="emailHelp"
      />
      
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input
        type="text"
        class="form-control"
        name="desc"
        id="desc"
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container my-4">
    {% if mytodo|length==0 %}
    no record

{% else %}
<table class="table">
<thead>
  <tr>
    <th scope="col">SNo</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Time</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
<tbody>
    {% for todo in mytodo %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ todo.title }}</td>
        <td>{{ todo.desc }}</td>
        <td>{{ todo.date_created }}</td>
        <td><a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-dark mx-1">Update</button></a></td>
          <td>
            <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-danger mx-1">Delete</button></a>
          </td>  

      
      </tr>
    {% endfor %}
  
</tbody>
</table>
{% endif %}
  
</div>
{% endblock body %}
    
   