{% extends 'base.html' %}
{% block title %} Contact us {% endblock %}
{% block body %} 
<div class="container my-3">

<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

<form action="/" method="post">
{% csrf_token %}
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="My message">
        <label for="floatingInput">Message</label>
    </div>
    <button type="button" class="btn btn-primary my-3">Send</button>
</form>

</div>

{% endblock %}