.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    left: 100px;
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    position: relative;
    left: 100px;
}