* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.brand img {
    width: 51px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 65px;
}

nav ul li {
    padding: 0 12px;
}

.container {
    min-height: 68.2vh;
    background-color: black;
    color: white;
    margin: 23px auto;
    width: 75%;
    padding: 20px;
    background-image: url('bg.jpg');
    border-radius: 30px;
}

.bottom {
    position: sticky;
    height: 102px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar {
    width: 75vw;
    cursor: pointer;
    ;
}

.icons {
    margin: 10px 0;
}

.icons i {
    cursor: pointer;
}

.songItem {
    height: 50px;
    width: 37vh;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.songlistplay span {
    margin: 0 9px;
}

.songlistplay i {
    margin: 0 10px;
    cursor: pointer;
}

.songItem img {
    width: 40px;
    height: 30px;
    margin: 0 20px;
    border-radius: 100px;
}

.songInfo {
    position: absolute;
    left: 12vw;
}

.songInfo img {
    margin: 0 9px;
    opacity: 0;
    transition: opacity 1s ease-in;
}