* {
    margin: 0;
    padding: 0;
}

.google-logo {
    align-items: center;
    align-self: center;
    border: solid;
    display: flex;
    height: 99vh;
}

.google-logo img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    width: 18rem;
}

