* {
    margin: 0;
    padding: 0;
}

.google-logo {
    align-items: center;
    align-self: center;
    display: flex;
    height: 30vh;
}

.google-logo img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.3rem;
    width: 17rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    border-radius: 3rem;
    border-style: solid;
    border-color: #e1e4e7;
    padding: 5px 8px 0 14px;
}
